---
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { BaseWPSchema } from "@/types";

const urlAPI =
  process.env.WORDPRESS_API_URL || "http://localhost:8080/wp-json/wp/v2";
const endpoint = "/pages?slug=nosotros";
const embedded = "&_embed";
const res = await fetch(urlAPI + endpoint + embedded);
const resJSON = await res.json();
const data = BaseWPSchema.parse(resJSON[0]);
const {
  acf: { subtitle },
  title: { rendered: title },
  content: { rendered },
  feature_images: {
    thumbnail,
    large,
    medium_large,
    full: { url, width, height },
  },
} = data;
---

<Layout title="Nosotros" subtitle={subtitle} bgImage={url}>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
    <Picture
      src={medium_large.url}
      alt={`Imagen de ${title}`}
      class="order-1"
      width={medium_large.width}
      height={medium_large.height}
      formats={["avif", "webp"]}
    />
    <div set:html={rendered} class="
      order-2
      text-xl
      py-3
      mt-10
      lg:mt-0"></div>
  </div>
  </div>
</Layout>
